<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="programName" value="ChequeSelfService.exe"/>
    <add key="defaultPath" value="D:\"/>
    <add key="startPositonLeft" value="True"/>
    <add key="startPositonDown" value="True"/>
  </appSettings>
</configuration>
